/* grid area define */
.header{
    grid-area: header;
}
.nav{
    grid-area: nav;
}
.main{
    grid-area: main;
}
.aside{
    grid-area: aside;
}
.ad{
    grid-area: ad;
}
.footer{
    grid-area: footer;
}
.ad, .aside, .footer, .header, .main, .nav{
    background-color: bisque;
}
.nav li{
    list-style: none;
   padding-right: 20px;
}
.gridcontainer{
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas: 
    "header header header header"
    "nav main main aside"
    "nav main main ad"
    "footer footer footer footer";
}
@media screen and (max-width:576px) {
    .gridcontainer{
        grid-template-columns: 1fr;
        grid-template-areas: 
        "header"
        "nav" 
        "main"
        "aside"
        "ad"
        "footer";
    }
}
@media screen and (min-width:577px) and (max-width:992px) {
    .gridcontainer{
        grid-template-columns: 1fr 2fr;
        grid-template-areas: 
        "header header header"
        "nav nav nav" 
        "aside main main"
        "ad footer footer";
    }
    .nav ul{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}